::selection {
    background-color: rebeccapurple;
    color: white;
}
.overview-main {
    background-image: url('../assets/svg-content/design-second.svg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
}
.overview-heading {
    color:#FD6C4C;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline wavy white;
}
.overview-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    text-align: left;
    max-width: 35em;
    margin: 0.5em auto;
}
.history-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: absolute;
    bottom:0.5em;
    right:1em;
    background:yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em;
    font-size:1.5rem;
    padding:0.5em 1.5em;
    border-radius: 20px;
    transition: 0.5s;
}
.history-button:hover {
    background:black;
    color:yellow;
}
@media screen and (max-width:400px) {
    .overview-heading {
        font-size: 1.6rem;
    }
    .overview-content {
        font-size: 1.2rem;
        margin:0 1em;
    }
    .history-button {
        font-size:0.8rem;
    }
}